.Wrapper {
    width: 80%;
  margin-left: 20%;
    padding: 3rem;
    animation-name: show;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.InnerWrapper {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 25px;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.42);
}

.InnerWrapper h1{
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.InnerWrapper p{
    width: 90%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.Location {
    width: 90%;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.42);
    margin-bottom: 2rem;
}

.Location iframe {
    width: 100%;
}

.Service {
    height: auto;
    word-wrap: break-word;
    width: 90%;
}

.ServiceHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: left; */
}

.Service h4{
    text-align: left;
    width: 100%;
    color: #6ab05e;
}

.Service p {
    text-align: justify;
    width: 100%;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1300px) {
    .Wrapper {
        width: 80%;
        margin-left: 26%;
        padding-bottom: 16rem;
        padding-top: 5rem;
    }

    .InnerWrapper {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 900px) {
    .Wrapper {
        width: 100%;
        padding: 0rem;
        padding-bottom: 24rem;
        margin: 0rem;
    }

    .InnerWrapper {
        width: 100%;
        margin: auto;
        border: 0rem;
        box-shadow: none;
    }

}


