.Wrapper {
  width: 80%;
  margin-left: 20%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  animation-name: show;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  position: relative;
}

.SpinnerText {
  text-align: center;
  margin-bottom: 2rem;
  animation-name: pulse;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.ViewHealthcareTherapist {
  width: 60%;
  height: auto;
  border: 2px solid rgb(131, 131, 131);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.42);
  background-color: rgba(43, 43, 43, 0.9);
  color: #fff;
  padding: 0.4rem;
}

.Header {
  padding: 0.5rem;
  border-bottom: 2px solid rgb(131, 131, 131);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header i {
  font-size: 30px;
  padding: 0.7rem 0rem 0rem 0rem;
}

.Header i:hover {
  transform: scale(1.05);
  filter: brightness(70%);
  cursor: pointer;
  transition: 0.2s;
}

.CompletionModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CompletionModalHeader i {
  color: rgb(189, 28, 28);
  font-size: 1.4vw;
  align-self: flex-end;
  margin: 0rem 0rem 1rem 0rem;
}

.CompletionModalHeader i:hover {
  cursor: pointer;
  filter: brightness(140%);
}

.CompletionModalContent {
  display: flex;
  flex-direction: column;
}

.CompletionModalOutcome {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.CurrentFiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.RequirementControl {
}

.Documents {
  margin: 1rem 0.5rem;
  width: 50%;
  max-width: 50%;
  border: 1px solid #000;
  color: #000;
  border-radius: 4px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
}

.Documents h5 {
  padding: 0rem 0.2rem;
  border-bottom: 2px solid #000;
}

.Documents label {
  margin: 0.2rem;
}

.Requirements {
  margin: 1rem 0.5rem;
  max-width: 100%;
  border: 1px solid #000;
  color: #000;
  border-radius: 4px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
}

.Action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.2rem 0rem 0.5rem 0.5rem;
}

.ActionCombine {
  display: flex;
  flex-direction: column;
}

.Changes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Changes label {
  margin: 0rem 0.4rem;
}

.ConfirmComplete {
  color: rgb(46, 122, 46);
}

.ConfirmComplete:hover {
  cursor: pointer;
  filter: brightness(110%);
  font-weight: bold;
}

.DeclineComplete {
  color: rgb(150, 24, 24);
}

.DeclineComplete:hover {
  cursor: pointer;
  font-weight: bold;
}

.ActionConfirm {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ActionLightOn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #e9d370;
  border: 2px solid #e0b12f;
  -webkit-box-shadow: 0px 0px 15px 4px rgb(231, 211, 154);
  box-shadow: 0px 0px 15px 4px rgb(231, 211, 154);
  margin: 0.3rem;
}

.SeenConfirm {
  width: 30%;
  margin: auto;
  font-size: 0.8vw;
}

.CompleteConfirm {
  width: 30%;
  margin: auto;
  font-size: 0.8vw;
}

.ActionLightOff {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 82%);
  border: 2px solid #757575;
  -webkit-box-shadow: 0px 0px 20px 3px rgb(209, 209, 209);
  box-shadow: 0px 0px 20px 3px rgb(209, 209, 209);
  margin: 0.3rem;
}

.RequiredDocs {
  min-width: 40%;
  padding: 0.4rem;
  margin: 1rem 0.2rem;
  width: 100%;
  border: 1px solid #000;
  color: #000;
  border-radius: 4px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
}

.RequiredDocs button:disabled {
  background-color: rgb(46, 122, 46);
  color: rgb(207, 207, 207);
}

.RequiredDocs button {
  width: 100%;
  font-size: 1vw;
}

.AddRequirement {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.AddRequirement:hover * {
  cursor: pointer;
  color: rgb(51, 51, 51);
}

.Requirement {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Requirement span {
  padding-top: 0.5rem;
}

.Requirement span:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.ItemToDownload {
  border: 1px solid #000;
  margin: 0.2rem;
  border-radius: 4px;
  padding: 0.2rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
}

.Upload {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  color: #000;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.Upload button {
  width: 100%;
  font-size: 1vw;
}

.Upload button:disabled {
  background-color: rgb(46, 122, 46);
  color: rgb(207, 207, 207);
}

.UploadFiles {
  padding: 0.2rem 0rem;
}

.FileItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.4rem 0rem 0rem 0rem;
}

.FileItemNameAndDelete {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.FileItemNameAndDelete p {
  margin: 0rem;
}

.FileItemNameAndDelete i {
  color: rgb(150, 24, 24);
  font-size: 1.6vw;
  padding-bottom: 0.2rem;
}

.FileItemNameAndDelete i:hover {
  filter: brightness(200%);
  cursor: pointer;
  transition: 0.2s;
}

.FileItemInformation {
  width: 100%;
}

.FileItemInformation input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.42) !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.42) !important;
}

.Submit {
  padding: 0.2rem 0rem;
  margin: 1rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
}

.Submit button {
  width: 10rem;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  .Wrapper {
    width: 70%;
    margin-left: 30%;
    padding-bottom: 10%;
    padding-top: 5%;
  }

  .ViewHealthcareTherapist {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .RequiredDocs button {
    font-size: 2vw;
  }

  .SeenConfirm {
    font-size: 1vw;
    padding: 0.4vw;
  }

  .CompleteConfirm {
    font-size: 1vw;
    padding: 0.4vw;
  }
}

@media (max-width: 900px) {
  .Wrapper {
    width: 80%;
    margin: auto;
    padding-bottom: 20%;
    padding-top: 10%;
  }

  .ViewHealthcareTherapist {
    width: 90%;
  }

  .SeenConfirm {
    font-size: 1vw;
    padding: 0.7vw;
  }

  .CompleteConfirm {
    font-size: 1vw;
    padding: 0.7vw;
  }
}

@media (max-width: 650px) {
  .Wrapper {
    padding-top: 2rem;
    width: 100%;
    margin: 0rem;
    padding-bottom: 24rem;
  }

  .Header i {
    padding: 0rem;
  }

  .ViewHealthcareTherapist {
    width: 100%;
  }

  .CurrentFiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .SeenConfirm {
    font-size: 2vw;
    padding: 0.7vw;
  }

  .CompleteConfirm {
    font-size: 2vw;
    padding: 0.7vw;
  }

  .Documents {
    width: 100%;
    max-width: none;
  }

  .Action {
    display: flex;
    flex-direction: column;
  }

  .Action label {
    text-align: center;
  }

  .RequiredDocs {
    width: 100%;
    max-width: none;
  }

  .RequiredDocs button {
    font-size: 4vw;
  }

  .Upload button {
    font-size: 4vw;
    width: 100%;
  }

  .Submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .SeenConfirm {
    font-size: 2.8vw;
    padding: 2vw;
    width: 50%;
  }

  .CompleteConfirm {
    font-size: 2.8vw;
    padding: 2vw;
    width: 50%;
  }
}
